In [1]:
pip install seaborn

Collecting seaborn
  Using cached seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\victor\miniconda3\envs\thon_env\lib\site-packages (from seaborn) (2.1.2)
Requirement already satisfied: pandas>=1.2 in c:\users\victor\miniconda3\envs\thon_env\lib\site-packages (from seaborn) (2.2.3)
Collecting matplotlib!=3.6.1,>=3.4 (from seaborn)
  Downloading matplotlib-3.9.2-cp310-cp310-win_amd64.whl.metadata (11 kB)
Collecting contourpy>=1.0.1 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading contourpy-1.3.0-cp310-cp310-win_amd64.whl.metadata (5.4 kB)
Collecting cycler>=0.10 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Using cached cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading fonttools-4.54.1-cp310-cp310-win_amd64.whl.metadata (167 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading kiwisolver-1.4.7-cp310-cp310-win_amd64.whl.metadata (6.4 kB)
Requirement already satisfied: packaging>=20.0 in c:\users\victor\miniconda3\envs\thon_env\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.1)
Collecting pillow>=8 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading pillow-10.4.0-cp310-cp310-win_amd64.whl.metadata (9.3 kB)
Collecting pyparsing>=2.3.1 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading pyparsing-3.1.4-py3-none-any.whl.metadata (5.1 kB)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\victor\miniconda3\envs\thon_env\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\victor\miniconda3\envs\thon_env\lib\site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\victor\miniconda3\envs\thon_env\lib\site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\victor\miniconda3\envs\thon_env\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)
Using cached seaborn-0.13.2-py3-none-any.whl (294 kB)
Downloading matplotlib-3.9.2-cp310-cp310-win_amd64.whl (7.8 MB)
   ---------------------------------------- 0.0/7.8 MB ? eta -:--:--
   ---------------- ----------------------- 3.1/7.8 MB 15.4 MB/s eta 0:00:01
   -------------------------------- ------- 6.3/7.8 MB 15.4 MB/s eta 0:00:01
   ---------------------------------------- 7.8/7.8 MB 15.1 MB/s eta 0:00:00
Downloading contourpy-1.3.0-cp310-cp310-win_amd64.whl (216 kB)
Using cached cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.54.1-cp310-cp310-win_amd64.whl (2.2 MB)
   ---------------------------------------- 0.0/2.2 MB ? eta -:--:--
   ---------------------------------------- 2.2/2.2 MB 13.8 MB/s eta 0:00:00
Downloading kiwisolver-1.4.7-cp310-cp310-win_amd64.whl (55 kB)
Downloading pillow-10.4.0-cp310-cp310-win_amd64.whl (2.6 MB)
   ---------------------------------------- 0.0/2.6 MB ? eta -:--:--
   ---------------------------------------- 2.6/2.6 MB 13.3 MB/s eta 0:00:00
Downloading pyparsing-3.1.4-py3-none-any.whl (104 kB)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib, seaborn
Successfully installed contourpy-1.3.0 cycler-0.12.1 fonttools-4.54.1 kiwisolver-1.4.7 matplotlib-3.9.2 pillow-10.4.0 pyparsing-3.1.4 seaborn-0.13.2
Note: you may need to restart the kernel to use updated packages.

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
easyocr 1.7.1 requires ninja, which is not installed.
easyocr 1.7.1 requires pyclipper, which is not installed.
easyocr 1.7.1 requires python-bidi, which is not installed.
easyocr 1.7.1 requires scipy, which is not installed.
easyocr 1.7.1 requires Shapely, which is not installed.
scikit-image 0.23.2 requires scipy>=1.9, which is not installed.
scikit-image 0.23.2 requires tifffile>=2022.8.12, which is not installed.

In [2]:
pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.5.2-cp310-cp310-win_amd64.whl.metadata (13 kB)
Requirement already satisfied: numpy>=1.19.5 in c:\users\victor\miniconda3\envs\thon_env\lib\site-packages (from scikit-learn) (2.1.2)
Collecting scipy>=1.6.0 (from scikit-learn)
  Downloading scipy-1.14.1-cp310-cp310-win_amd64.whl.metadata (60 kB)
Collecting joblib>=1.2.0 (from scikit-learn)
  Using cached joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Using cached threadpoolctl-3.5.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.5.2-cp310-cp310-win_amd64.whl (11.0 MB)
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   ------------ --------------------------- 3.4/11.0 MB 15.5 MB/s eta 0:00:01
   ------------------------- -------------- 7.1/11.0 MB 16.8 MB/s eta 0:00:01
   ---------------------------------------  10.7/11.0 MB 17.2 MB/s eta 0:00:01
   ---------------------------------------- 11.0/11.0 MB 15.3 MB/s eta 0:00:00
Using cached joblib-1.4.2-py3-none-any.whl (301 kB)
Downloading scipy-1.14.1-cp310-cp310-win_amd64.whl (44.8 MB)
   ---------------------------------------- 0.0/44.8 MB ? eta -:--:--
   -- ------------------------------------- 2.9/44.8 MB 13.9 MB/s eta 0:00:04
   ----- ---------------------------------- 6.3/44.8 MB 15.4 MB/s eta 0:00:03
   -------- ------------------------------- 9.2/44.8 MB 14.6 MB/s eta 0:00:03
   ----------- ---------------------------- 12.3/44.8 MB 14.8 MB/s eta 0:00:03
   -------------- ------------------------- 15.7/44.8 MB 15.2 MB/s eta 0:00:02
   ---------------- ----------------------- 18.6/44.8 MB 15.1 MB/s eta 0:00:02
   ------------------- -------------------- 22.0/44.8 MB 15.0 MB/s eta 0:00:02
   ---------------------- ----------------- 25.2/44.8 MB 15.3 MB/s eta 0:00:02
   ------------------------- -------------- 28.6/44.8 MB 15.2 MB/s eta 0:00:02
   ---------------------------- ----------- 32.2/44.8 MB 15.4 MB/s eta 0:00:01
   -------------------------------- ------- 35.9/44.8 MB 15.6 MB/s eta 0:00:01
   ---------------------------------- ----- 38.8/44.8 MB 15.4 MB/s eta 0:00:01
   ------------------------------------- -- 41.7/44.8 MB 15.2 MB/s eta 0:00:01
   ---------------------------------------  44.6/44.8 MB 15.4 MB/s eta 0:00:01
   ---------------------------------------- 44.8/44.8 MB 14.9 MB/s eta 0:00:00
Using cached threadpoolctl-3.5.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.4.2 scikit-learn-1.5.2 scipy-1.14.1 threadpoolctl-3.5.0
Note: you may need to restart the kernel to use updated packages.

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
easyocr 1.7.1 requires ninja, which is not installed.
easyocr 1.7.1 requires pyclipper, which is not installed.
easyocr 1.7.1 requires python-bidi, which is not installed.
easyocr 1.7.1 requires Shapely, which is not installed.
scikit-image 0.23.2 requires tifffile>=2022.8.12, which is not installed.

In [3]:
pip install xgboost

Collecting xgboost
  Downloading xgboost-2.1.1-py3-none-win_amd64.whl.metadata (2.1 kB)
Requirement already satisfied: numpy in c:\users\victor\miniconda3\envs\thon_env\lib\site-packages (from xgboost) (2.1.2)
Requirement already satisfied: scipy in c:\users\victor\miniconda3\envs\thon_env\lib\site-packages (from xgboost) (1.14.1)
Downloading xgboost-2.1.1-py3-none-win_amd64.whl (124.9 MB)
   ---------------------------------------- 0.0/124.9 MB ? eta -:--:--
    --------------------------------------- 2.1/124.9 MB 13.0 MB/s eta 0:00:10
   - -------------------------------------- 4.2/124.9 MB 12.0 MB/s eta 0:00:11
   -- ------------------------------------- 6.6/124.9 MB 11.2 MB/s eta 0:00:11
   -- ------------------------------------- 8.4/124.9 MB 10.6 MB/s eta 0:00:11
   --- ------------------------------------ 9.7/124.9 MB 10.8 MB/s eta 0:00:11
   --- ------------------------------------ 10.0/124.9 MB 8.3 MB/s eta 0:00:14
   --- ------------------------------------ 10.0/124.9 MB 8.3 MB/s eta 0:00:14
   --- ------------------------------------ 10.0/124.9 MB 8.3 MB/s eta 0:00:14
   --- ------------------------------------ 10.2/124.9 MB 5.6 MB/s eta 0:00:21
   --- ------------------------------------ 10.5/124.9 MB 5.2 MB/s eta 0:00:23
   --- ------------------------------------ 11.0/124.9 MB 4.9 MB/s eta 0:00:24
   --- ------------------------------------ 11.8/124.9 MB 4.8 MB/s eta 0:00:24
   ---- ----------------------------------- 12.8/124.9 MB 4.9 MB/s eta 0:00:24
   ---- ----------------------------------- 14.2/124.9 MB 4.9 MB/s eta 0:00:23
   ---- ----------------------------------- 15.2/124.9 MB 5.0 MB/s eta 0:00:23
   ----- ---------------------------------- 16.5/124.9 MB 5.0 MB/s eta 0:00:22
   ----- ---------------------------------- 18.4/124.9 MB 5.2 MB/s eta 0:00:21
   ------ --------------------------------- 20.4/124.9 MB 5.5 MB/s eta 0:00:20
   ------- -------------------------------- 22.0/124.9 MB 5.6 MB/s eta 0:00:19
   ------- -------------------------------- 24.1/124.9 MB 5.8 MB/s eta 0:00:18
   -------- ------------------------------- 26.5/124.9 MB 6.1 MB/s eta 0:00:17
   --------- ------------------------------ 29.1/124.9 MB 6.4 MB/s eta 0:00:16
   ---------- ----------------------------- 31.7/124.9 MB 6.6 MB/s eta 0:00:15
   ---------- ----------------------------- 34.1/124.9 MB 6.8 MB/s eta 0:00:14
   ----------- ---------------------------- 36.7/124.9 MB 7.1 MB/s eta 0:00:13
   ------------ --------------------------- 38.8/124.9 MB 7.2 MB/s eta 0:00:13
   ------------- -------------------------- 41.2/124.9 MB 7.3 MB/s eta 0:00:12
   ------------- -------------------------- 43.5/124.9 MB 7.5 MB/s eta 0:00:11
   -------------- ------------------------- 45.6/124.9 MB 7.6 MB/s eta 0:00:11
   --------------- ------------------------ 47.4/124.9 MB 7.6 MB/s eta 0:00:11
   --------------- ------------------------ 49.0/124.9 MB 7.6 MB/s eta 0:00:10
   ---------------- ----------------------- 51.1/124.9 MB 7.7 MB/s eta 0:00:10
   ---------------- ----------------------- 53.0/124.9 MB 7.7 MB/s eta 0:00:10
   ----------------- ---------------------- 54.3/124.9 MB 7.7 MB/s eta 0:00:10
   ------------------ --------------------- 56.4/124.9 MB 7.7 MB/s eta 0:00:09
   ------------------ --------------------- 57.4/124.9 MB 7.7 MB/s eta 0:00:09
   ------------------ --------------------- 59.2/124.9 MB 7.7 MB/s eta 0:00:09
   ------------------- -------------------- 61.6/124.9 MB 7.8 MB/s eta 0:00:09
   -------------------- ------------------- 64.2/124.9 MB 7.9 MB/s eta 0:00:08
   --------------------- ------------------ 66.6/124.9 MB 8.0 MB/s eta 0:00:08
   ---------------------- ----------------- 68.9/124.9 MB 8.1 MB/s eta 0:00:07
   ---------------------- ----------------- 71.0/124.9 MB 8.1 MB/s eta 0:00:07
   ----------------------- ---------------- 72.9/124.9 MB 8.1 MB/s eta 0:00:07
   ----------------------- ---------------- 74.7/124.9 MB 8.1 MB/s eta 0:00:07
   ------------------------ --------------- 76.5/124.9 MB 8.1 MB/s eta 0:00:06
   ------------------------- -------------- 78.4/124.9 MB 8.2 MB/s eta 0:00:06
   ------------------------- -------------- 80.2/124.9 MB 8.2 MB/s eta 0:00:06
   -------------------------- ------------- 82.3/124.9 MB 8.2 MB/s eta 0:00:06
   -------------------------- ------------- 84.1/124.9 MB 8.2 MB/s eta 0:00:05
   --------------------------- ------------ 86.8/124.9 MB 8.3 MB/s eta 0:00:05
   ---------------------------- ----------- 88.9/124.9 MB 8.3 MB/s eta 0:00:05
   ----------------------------- ---------- 90.7/124.9 MB 8.3 MB/s eta 0:00:05
   ----------------------------- ---------- 92.8/124.9 MB 8.4 MB/s eta 0:00:04
   ------------------------------ --------- 94.9/124.9 MB 8.4 MB/s eta 0:00:04
   ------------------------------- -------- 97.0/124.9 MB 8.4 MB/s eta 0:00:04
   ------------------------------- -------- 99.6/124.9 MB 8.5 MB/s eta 0:00:03
   -------------------------------- ------- 102.5/124.9 MB 8.6 MB/s eta 0:00:03
   --------------------------------- ------ 104.9/124.9 MB 8.6 MB/s eta 0:00:03
   ---------------------------------- ----- 107.7/124.9 MB 8.7 MB/s eta 0:00:02
   ----------------------------------- ---- 110.1/124.9 MB 8.8 MB/s eta 0:00:02
   ------------------------------------ --- 113.2/124.9 MB 8.9 MB/s eta 0:00:02
   ------------------------------------- -- 115.6/124.9 MB 8.9 MB/s eta 0:00:02
   ------------------------------------- -- 118.2/124.9 MB 9.0 MB/s eta 0:00:01
   -------------------------------------- - 120.8/124.9 MB 9.0 MB/s eta 0:00:01
   ---------------------------------------  124.5/124.9 MB 9.1 MB/s eta 0:00:01
   ---------------------------------------  124.8/124.9 MB 9.1 MB/s eta 0:00:01
   ---------------------------------------- 124.9/124.9 MB 9.0 MB/s eta 0:00:00
Installing collected packages: xgboost
Successfully installed xgboost-2.1.1
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\victor\miniconda3\envs\thon_env\lib\site-packages (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\victor\miniconda3\envs\thon_env\lib\site-packages (from matplotlib) (1.3.0)
Requirement already satisfied: cycler>=0.10 in c:\users\victor\miniconda3\envs\thon_env\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\victor\miniconda3\envs\thon_env\lib\site-packages (from matplotlib) (4.54.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\victor\miniconda3\envs\thon_env\lib\site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: numpy>=1.23 in c:\users\victor\miniconda3\envs\thon_env\lib\site-packages (from matplotlib) (2.1.2)
Requirement already satisfied: packaging>=20.0 in c:\users\victor\miniconda3\envs\thon_env\lib\site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\victor\miniconda3\envs\thon_env\lib\site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\victor\miniconda3\envs\thon_env\lib\site-packages (from matplotlib) (3.1.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\victor\miniconda3\envs\thon_env\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\victor\miniconda3\envs\thon_env\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn import linear_model, metrics, model_selection
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score, mean_absolute_percentage_error

In [5]:
# df = pd.read_csv(r"Datos Completos\Octubre-Abril.csv", sep= "\t", parse_dates=["PoC AB12"], dayfirst=True)
# df.columns = ["Date","Pax"]
# df = df.iloc[4:,:].reset_index(False)
# df = df.drop("index", axis=1)

# df["Date"] = pd.to_datetime(df["Date"],  format="%d-%m-%Y %H:%M:%S")
# df["Pax"] = pd.to_numeric(df["Pax"])

In [6]:
df_prod_fin = pd.read_csv(r"C:\Users\Victor\Desktop\Datathon\20240927 Reto UniversityHack 2024\Datos cultivos productivos\Fases producción v02 cultivo final.csv", sep = ";", encoding="ANSI")
df_prod_fin

,LOTE,Orden en el encadenado,LOTE parental,ID Bioreactor,Fecha/hora inicio,Fecha/hora fin,Volumen de inóculo utilizado,Turbidez inicio cultivo,Turbidez fin cultivo,Viabilidad final cultivo,ID Centrífuga,Centrifugación 1 turbidez,Centrifugación 2 turbidez,Producto 1,Producto 2,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,23019,1,NaN,14615,2023-03-21 07:30:00,2023-03-23 06:30:00,"82,4","17,3","91,2","1,84E+08",17825,NaN,NaN,"1747,9","6,0",NaN,NaN,NaN
1,23020,1,NaN,14616,2023-03-21 07:30:00,2023-03-23 06:30:00,"80,4","18,8","91,2","1,82E+08",14246,NaN,NaN,"1676,2","6,6",NaN,NaN,NaN
2,23021,1,NaN,13170,2023-03-22 07:30:00,2023-03-24 06:30:00,"66,4","16,2","86,4","2,48E+08",17825,NaN,NaN,"1928,5","8,1",NaN,NaN,NaN
3,23022,1,NaN,14614,2023-03-22 07:30:00,2023-03-24 06:30:00,"85,6","18,5","83,2","2,30E+08",12912,NaN,NaN,"1782,8","5,9",NaN,NaN,NaN
4,23023,1,NaN,14615,2023-03-28 07:27:00,2023-03-30 10:00:00,"77,6","17,1","74,4","1,33E+08",17825,"26,6","20,9","1861,8","3,0",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,24049,1,NaN,14617,2024-03-16 09:22:00,2024-03-18 08:23:00,84,19,73,"1,65E+08",12912,31,17,"1342,8","4,9",NaN,NaN,NaN
148,24050,1,NaN,14614,2024-03-23 08:57:00,2024-03-25 08:28:00,84,18,68,"1,52E+08",6379,29,27,"1422,8","3,7",NaN,NaN,NaN
149,24051,1,NaN,13169,2024-03-23 08:57:00,2024-03-25 08:33:00,84,18,81,"1,61E+08",12912,33,19,"1486,6","5,5",NaN,NaN,NaN
150,24052,2,24050.0,14614,2024-03-25 13:28:00,2024-03-27 08:51:00,86,17,69,"1,48E+08",14246,24,18,"1857,3","6,0",NaN,NaN,NaN
151,24053,2,24051.0,13169,2024-03-25 12:27:00,2024-03-27 08:27:00,87,17,79,"1,48E+08",12912,27,19,"1784,1","7,2",NaN,NaN,NaN

In [7]:
df_prod_fin["Fecha/hora inicio"] = pd.to_datetime(df_prod_fin["Fecha/hora inicio"],  format="%Y-%m-%d %H:%M:%S")
df_prod_fin["Fecha/hora fin"] = pd.to_datetime(df_prod_fin["Fecha/hora fin"],  format="%Y-%m-%d %H:%M:%S")

In [8]:
df_prod_fin["Volumen de inóculo utilizado"] =df_prod_fin["Volumen de inóculo utilizado"].str.replace(",",".")
df_prod_fin["Turbidez inicio cultivo"] =df_prod_fin["Turbidez inicio cultivo"].str.replace(",",".")
df_prod_fin["Turbidez fin cultivo"] =df_prod_fin["Turbidez fin cultivo"].str.replace(",",".")
df_prod_fin["Viabilidad final cultivo"] =df_prod_fin["Viabilidad final cultivo"].str.replace(",",".")
df_prod_fin["Centrifugación 1 turbidez"] =df_prod_fin["Centrifugación 1 turbidez"].str.replace(",",".")
df_prod_fin["Centrifugación 2 turbidez"] =df_prod_fin["Centrifugación 2 turbidez"].str.replace(",",".")
df_prod_fin["Producto 1"] =df_prod_fin["Producto 1"].str.replace(",",".")
df_prod_fin["Producto 2"] =df_prod_fin["Producto 2"].str.replace(",",".")

In [9]:
df_prod_fin["Viabilidad final cultivo"] =df_prod_fin["Viabilidad final cultivo"].str.upper()

In [10]:
df_prod_fin.loc[67:67,"Viabilidad final cultivo"] = "1.82E+08"

In [11]:
df_prod_fin["Volumen de inóculo utilizado"] = pd.to_numeric(df_prod_fin["Volumen de inóculo utilizado"])
df_prod_fin["Turbidez inicio cultivo"] = pd.to_numeric(df_prod_fin["Turbidez inicio cultivo"])
df_prod_fin["Turbidez fin cultivo"] = pd.to_numeric(df_prod_fin["Turbidez fin cultivo"])
df_prod_fin["Viabilidad final cultivo"] = pd.to_numeric(df_prod_fin["Viabilidad final cultivo"])
df_prod_fin["Centrifugación 1 turbidez"] = pd.to_numeric(df_prod_fin["Centrifugación 1 turbidez"])
df_prod_fin["Centrifugación 2 turbidez"] = pd.to_numeric(df_prod_fin["Centrifugación 2 turbidez"])
df_prod_fin["Producto 1"] = pd.to_numeric(df_prod_fin["Producto 1"])
df_prod_fin["Producto 2"] = pd.to_numeric(df_prod_fin["Producto 2"])

In [ ]:
df_prod_fin.info()

In [ ]:
df_prod_fin

In [2]:
df_prod_ino = pd.read_csv(r"C:\Users\Victor\Desktop\Datathon\20240927 Reto UniversityHack 2024\Datos cultivos productivos\Fases producción v02 inoculo.csv", sep = ";", encoding="ANSI")
df_prod_ino

,LOTE,ID bioreactor,Fecha/hora inicio,Fecha/hora fin,Volumen de cultivo,Turbidez inicio cultivo,Turbidez final culttivo,Viabilidad final cultivo,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,23019,13171.0,NaN,NaN,NaN,NaN,"32,80","1,34E+08",NaN,NaN,NaN
1,23020,13171.0,NaN,NaN,NaN,NaN,"32,80","1,34E+08",NaN,NaN,NaN
2,23021,14618.0,NaN,NaN,NaN,NaN,"27,84","1,15E+08",NaN,NaN,NaN
3,23022,14618.0,NaN,NaN,NaN,NaN,"27,84","1,15E+08",NaN,NaN,NaN
4,23023,14618.0,27/03/2023 7:22,28/03/2023 7:29,"155,20","18,24","31,68","1,06E+08",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
165,24104,13172.0,01/07/2024 7:01,02/07/2024 8:01,"169,04","14,4","26,32","8,24E+07",NaN,NaN,NaN
166,24105,13172.0,01/07/2024 7:01,02/07/2024 8:01,"169,04","14,4","26,32","8,24E+07",NaN,NaN,NaN
167,24108,13171.0,05/07/2024 7:04,06/07/2024 7:22,"168,8","17,52","28,08","9,28E+07",NaN,NaN,NaN
168,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df_prod_ino.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170 entries, 0 to 169
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   LOTE                      168 non-null    object
 1   ID bioreactor             168 non-null    float64
 2   Fecha/hora inicio         164 non-null    object
 3   Fecha/hora fin            164 non-null    object
 4   Volumen de cultivo        164 non-null    object
 5   Turbidez inicio cultivo   162 non-null    object
 6   Turbidez final culttivo   168 non-null    object
 7   Viabilidad final cultivo  168 non-null    object
 8   Unnamed: 8                0 non-null      float64
 9   Unnamed: 9                0 non-null      float64
 10  Unnamed: 10               0 non-null      float64
dtypes: float64(4), object(7)
memory usage: 14.7+ KB

In [14]:
df_prod_ino["Fecha/hora inicio"] = df_prod_ino["Fecha/hora inicio"].str.replace("NaN","NaT")

In [15]:
df_prod_ino.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170 entries, 0 to 169
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   LOTE                      168 non-null    object
 1   ID bioreactor             168 non-null    float64
 2   Fecha/hora inicio         164 non-null    object
 3   Fecha/hora fin            164 non-null    object
 4   Volumen de cultivo        164 non-null    object
 5   Turbidez inicio cultivo   162 non-null    object
 6   Turbidez final culttivo   168 non-null    object
 7   Viabilidad final cultivo  168 non-null    object
 8   Unnamed: 8                0 non-null      float64
 9   Unnamed: 9                0 non-null      float64
 10  Unnamed: 10               0 non-null      float64
dtypes: float64(4), object(7)
memory usage: 14.7+ KB

In [27]:
df_prod_ino.loc[118,"Viabilidad final cultivo"] = "1.27E+08"

In [28]:
df_prod_ino["Fecha/hora inicio"] = pd.to_datetime(df_prod_ino["Fecha/hora inicio"],dayfirst=True)
df_prod_ino["Fecha/hora fin"] = pd.to_datetime(df_prod_ino["Fecha/hora fin"],dayfirst=True)
df_prod_ino["Volumen de cultivo"] =df_prod_ino["Volumen de cultivo"].str.replace(",",".")
df_prod_ino["Volumen de cultivo"] = pd.to_numeric(df_prod_ino["Volumen de cultivo"])
df_prod_ino["Turbidez inicio cultivo"] =df_prod_ino["Turbidez inicio cultivo"].str.replace(",",".")
df_prod_ino["Turbidez inicio cultivo"] = pd.to_numeric(df_prod_ino["Turbidez inicio cultivo"])
df_prod_ino["Turbidez final culttivo"] =df_prod_ino["Turbidez final culttivo"].str.replace(",",".")
df_prod_ino["Turbidez final culttivo"] = pd.to_numeric(df_prod_ino["Turbidez final culttivo"])
df_prod_ino["Viabilidad final cultivo"] =df_prod_ino["Viabilidad final cultivo"].str.replace(",",".")
df_prod_ino["Viabilidad final cultivo"] = pd.to_numeric(df_prod_ino["Viabilidad final cultivo"])

In [29]:
df_prod_ino.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170 entries, 0 to 169
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   LOTE                      168 non-null    object
 1   ID bioreactor             168 non-null    float64
 2   Fecha/hora inicio         164 non-null    datetime64[ns]
 3   Fecha/hora fin            164 non-null    datetime64[ns]
 4   Volumen de cultivo        164 non-null    float64
 5   Turbidez inicio cultivo   162 non-null    float64
 6   Turbidez final culttivo   168 non-null    float64
 7   Viabilidad final cultivo  168 non-null    float64
 8   Unnamed: 8                0 non-null      float64
 9   Unnamed: 9                0 non-null      float64
 10  Unnamed: 10               0 non-null      float64
dtypes: datetime64[ns](2), float64(8), object(1)
memory usage: 14.7+ KB

In [2]:
df_prod_pre = pd.read_csv("Datos cultivos productivos\Fases producción v02 preinoculo.csv", sep = ";", encoding="ANSI")
df_prod_pre

,Unnamed: 0,Unnamed: 1,Unnamed: 2,pH,Unnamed: 4,Unnamed: 5,Turbidez,Unnamed: 7,Unnamed: 8,Línea utilizada,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,LOTE,Fecha/hora inicio,Fecha/hora fin,línea 1,línea 2,línea 3,línea 1,línea 2,línea 3,línea 1,...,línea 3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,23023,26/03/2023 5:00,27/03/2023 7:21,"5,496","5,504","5,52","28,32","27,92",32,1,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,23024,26/03/2023 5:00,27/03/2023 7:21,"5,496","5,504","5,52","28,32","27,92",32,1,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,23025,17/03/2023 6:00,28/03/2023 7:42,"5,48","5,52","5,52","26,56","27,52","26,4",1,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,23026,17/03/2023 6:00,28/03/2023 7:42,"5,48","5,52","5,52","26,56","27,52","26,4",1,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,24104,30/06/2024 0:30,01/07/2024 7:01,"5,408","5,424","5,392","27,44","26,48","26,64",1,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
163,24105,30/06/2024 0:30,01/07/2024 7:01,"5,408","5,424","5,392","27,44","26,48","26,64",1,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164,24108,04/07/2024 0:30,05/07/2024 7:04,"5,528","5,432","5,504","33,44","28,8","25,6",0,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165,24111,04/07/2024 0:30,05/07/2024 7:04,"5,528","5,432","5,504","33,44","28,8","25,6",0,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df_prod_pre = df_prod_pre.iloc[1:166,:12]

In [4]:
df_prod_pre.columns = ['LOTE','Fecha/hora inicio','Fecha/hora fin','pH Línea 1','pH Línea 2','pH Línea 3','Turbidez línea 1','Turbidez línea 2','Turbidez línea 3','Línea utilizada 1','Línea utilizada 2','Línea utilizada 3']

In [5]:
df_prod_pre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165 entries, 1 to 165
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   LOTE               165 non-null    object
 1   Fecha/hora inicio  165 non-null    object
 2   Fecha/hora fin     165 non-null    object
 3   pH Línea 1         163 non-null    object
 4   pH Línea 2         152 non-null    object
 5   pH Línea 3         133 non-null    object
 6   Turbidez línea 1   163 non-null    object
 7   Turbidez línea 2   152 non-null    object
 8   Turbidez línea 3   134 non-null    object
 9   Línea utilizada 1  165 non-null    object
 10  Línea utilizada 2  165 non-null    object
 11  Línea utilizada 3  165 non-null    object
dtypes: object(12)
memory usage: 15.6+ KB

In [6]:
df_prod_pre

,LOTE,Fecha/hora inicio,Fecha/hora fin,pH Línea 1,pH Línea 2,pH Línea 3,Turbidez línea 1,Turbidez línea 2,Turbidez línea 3,Línea utilizada 1,Línea utilizada 2,Línea utilizada 3
1,23023,26/03/2023 5:00,27/03/2023 7:21,"5,496","5,504","5,52","28,32","27,92",32,1,1,0
2,23024,26/03/2023 5:00,27/03/2023 7:21,"5,496","5,504","5,52","28,32","27,92",32,1,1,0
3,23025,17/03/2023 6:00,28/03/2023 7:42,"5,48","5,52","5,52","26,56","27,52","26,4",1,1,0
4,23026,17/03/2023 6:00,28/03/2023 7:42,"5,48","5,52","5,52","26,56","27,52","26,4",1,1,0
5,23027,02/04/2023 5:00,03/04/2023 13:30,"5,384","5,44","5,4","33,84","30,56","32,48",1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
161,24103,27/06/2024 0:30,28/06/2024 7:16,"5,424","5,432","5,416","32,08","32,48","30,64",1,1,0
162,24104,30/06/2024 0:30,01/07/2024 7:01,"5,408","5,424","5,392","27,44","26,48","26,64",1,0,1
163,24105,30/06/2024 0:30,01/07/2024 7:01,"5,408","5,424","5,392","27,44","26,48","26,64",1,0,1
164,24108,04/07/2024 0:30,05/07/2024 7:04,"5,528","5,432","5,504","33,44","28,8","25,6",0,1,1
165,24111,04/07/2024 0:30,05/07/2024 7:04,"5,528","5,432","5,504","33,44","28,8","25,6",0,1,1

In [26]:
df_prod_pre["Fecha/hora inicio"] = pd.to_datetime(df_prod_pre["Fecha/hora inicio"],dayfirst=True)
df_prod_pre["Fecha/hora fin"] = pd.to_datetime(df_prod_pre["Fecha/hora fin"],dayfirst=True)
df_prod_pre["pH Línea 1"] =df_prod_pre["pH Línea 1"].str.replace(",",".")
df_prod_pre["pH Línea 1"] = pd.to_numeric(df_prod_pre["pH Línea 1"])
df_prod_pre["pH Línea 2"] =df_prod_pre["pH Línea 2"].str.replace(",",".")
df_prod_pre["pH Línea 2"] = pd.to_numeric(df_prod_pre["pH Línea 2"])
df_prod_pre["pH Línea 3"] =df_prod_pre["pH Línea 3"].str.replace(",",".")
df_prod_pre["pH Línea 3"] = pd.to_numeric(df_prod_pre["pH Línea 3"])
df_prod_pre["Turbidez línea 1"] =df_prod_pre["Turbidez línea 1"].str.replace(",",".")
df_prod_pre["Turbidez línea 1"] = pd.to_numeric(df_prod_pre["Turbidez línea 1"])
df_prod_pre["Turbidez línea 2"] =df_prod_pre["Turbidez línea 2"].str.replace(",",".")
df_prod_pre["Turbidez línea 2"] = pd.to_numeric(df_prod_pre["Turbidez línea 2"])
df_prod_pre["Turbidez línea 3"] =df_prod_pre["Turbidez línea 3"].str.replace(",",".")
df_prod_pre["Turbidez línea 3"] = pd.to_numeric(df_prod_pre["Turbidez línea 3"])
df_prod_pre["Línea utilizada 1"] = pd.to_numeric(df_prod_pre["Línea utilizada 1"])
df_prod_pre["Línea utilizada 2"] = pd.to_numeric(df_prod_pre["Línea utilizada 2"])
df_prod_pre["Línea utilizada 3"] = pd.to_numeric(df_prod_pre["Línea utilizada 3"])

In [27]:
df_prod_pre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165 entries, 1 to 165
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   LOTE               165 non-null    object
 1   Fecha/hora inicio  165 non-null    datetime64[ns]
 2   Fecha/hora fin     165 non-null    datetime64[ns]
 3   pH Línea 1         163 non-null    float64
 4   pH Línea 2         152 non-null    float64
 5   pH Línea 3         133 non-null    float64
 6   Turbidez línea 1   163 non-null    float64
 7   Turbidez línea 2   152 non-null    float64
 8   Turbidez línea 3   134 non-null    float64
 9   Línea utilizada 1  165 non-null    int64
 10  Línea utilizada 2  165 non-null    int64
 11  Línea utilizada 3  165 non-null    int64
dtypes: datetime64[ns](2), float64(6), int64(3), object(1)
memory usage: 15.6+ KB